.header-container {
  height: 70px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  /* box-shadow: 0 0 10px 0 rgba(216, 212, 212, 0.1); */
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.logo {
  font-size: 3.4rem;
  font-family: "Patrick Hand SC", cursive;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

.menu-items a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.menu-items a:hover {
  color: var(--accent-color);
}
