<div class="invites-container">
  <div class="sent-invites-container invites-status-container">
    <h3>Sent Invites</h3>
    <div class="sent-invites invites-list-group">
      <div class="sent-invite invites-list-item">
        <div class="sent-invite-header">
          <h4>Event Name</h4>
          <p>Event Date</p>
        </div>
        <div class="sent-invite-body invites-body">
          <p>Invited: 5</p>
          <p>Accepted: 3</p>
          <p>Rejected: 1</p>
          <p>Pending: 1</p>
        </div>
      </div>
    </div>
  </div>

  <div class="received-invites-container invites-status-container">
    <h3>Received Invites</h3>
    <div class="received-invites invites-list-group">
      <div class="received-invite invites-list-item">
        <div class="received-invite-header">
          <h4>Event Name</h4>
          <p>Event Date</p>
        </div>
        <div class="received-invite-body invites-body">
          <p>Invited by: User Name</p>
          <div class="cta">
            <button class="accept">Accept</button>
            <button class="reject">Reject</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
