.event-details-container {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  width: 63vw;
  margin: 2rem 0;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.event-img {
  width: 500px;
  height: 250px;
}

.event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-left {
  flex: 2;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.about h3 {
  font-size: 2.4rem;
  color: var(--primary-color);
  border-bottom: 1px solid var(--text-secondary-color);
}

.description {
  font-size: 1.4rem;
  color: var(--primary-color);
  opacity: 0.8;
}

.event-time {
  display: flex;
  gap: 1rem;

  font-size: 1.4rem;
}

.event-time p {
  color: var(--primary-color);
}

.event-time span {
  color: var(--text-primary-color);
}

.event-location {
  display: flex;
  gap: 1rem;

  font-size: 1.4rem;
}

.event-location p {
  color: var(--primary-color);
}

.event-location span {
  color: var(--text-primary-color);
}

.event-right {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.event-name {
  font-size: 2.8rem;
  color: var(--primary-color);
}
.event-category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.event-category p {
  font-size: 1.6rem;
  color: var(--primary-color);
  opacity: 0.8;
  font-weight: 600;
}

.event-cta {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-secondary-color);
  padding-bottom: 2rem;
}

.event-cta button {
  padding: 1rem 2rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--secondary-color);

  font-family: inherit;
  font-size: 1.6rem;
  color: var(--text-primary-color);
}

.event-cta button:disabled {
  background-color: var(--text-secondary-color);
  cursor: not-allowed;
}

.event-cta button:not(:disabled):hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

.price {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 600;
}

.invite-friends {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.invite-friends h3 {
  font-size: 2.2rem;
  color: var(--primary-color);
}

.invite-friends p {
  font-size: 1.4rem;
  color: var(--text-secondary-color);
}
