<div class="create-event-container">
  <form class="create-event-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter Event Name"
        name="name"
        required
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        name="description"
        cols="50"
        required
        ngModel
      ></textarea>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input
        type="text"
        class="form-control"
        id="image"
        placeholder="Enter Image URL"
        name="image"
        required
        ngModel
      />
    </div>

    <div class="form-group">
      <label for="privacy">Privacy</label>
      <select class="form-control" id="privacy" name="privacy" required ngModel>
        <option value="PUBLIC">Public</option>
        <option value="PRIVATE">Private</option>
      </select>
    </div>

    <div class="form-group">
      <label for="medium">Medium</label>
      <select class="form-control" id="medium" name="medium" required ngModel>
        <option value="ONLINE">Online</option>
        <option value="OFFLINE">Offline</option>
      </select>
    </div>

    <div class="form-group">
      <label for="start-date">Start Date</label>
      <input
        type="date"
        class="form-control"
        id="start-date"
        name="start"
        required
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="end-date">End Date</label>
      <input
        type="date"
        class="form-control"
        id="end-date"
        name="end"
        required
        ngModel
      />
    </div>

    <div class="form-group">
      <label for="duration">Duration</label>
      <input
        type="text"
        class="form-control"
        id="duration"
        placeholder="Enter Duration"
        name="duration"
        required
        ngModel
      />
    </div>

    <div class="form-group">
      <label for="max-participants">Max Participants</label>
      <input
        type="number"
        class="form-control"
        id="max-participants"
        placeholder="Enter Max Participants"
        name="maxCapacity"
        required
        ngModel
      />
    </div>

    <div class="form-group">
      <label for="category"> Category </label>

      <select
        class="form-control"
        id="category"
        name="category"
        required
        ngModel
      >
        <option
          *ngFor="let category of categories"
          [value]="category.toUpperCase()"
        >
          {{ category }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input
        type="text"
        class="form-control"
        id="location"
        placeholder="Enter Location"
        name="location"
        required
        ngModel
      />
    </div>

    <div class="form-group">
      <label for="language">Language</label>
      <input
        type="text"
        class="form-control"
        id="language"
        placeholder="Enter Language"
        name="language"
        required
        ngModel
      />
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!f.valid">
        <mat-icon>add</mat-icon>
        Create
      </button>
    </div>
  </form>
</div>
