<div class="create-event-container">
  <div class="create-event-form">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter Title"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        cols="50"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="privacy">Privacy</label>
      <select class="form-control" id="privacy">
        <option>Public</option>
        <option>Private</option>
      </select>
    </div>

    <div class="form-group">
      <label for="medium">Medium</label>
      <select class="form-control" id="medium">
        <option>Online</option>
        <option>Offline</option>
      </select>
    </div>

    <div class="form-group">
      <label for="start-date">Start Date</label>
      <input type="date" class="form-control" id="start-date" />
    </div>
    <div class="form-group">
      <label for="end-date">End Date</label>
      <input type="date" class="form-control" id="end-date" />
    </div>

    <div class="form-group">
      <label for="duration">Duration</label>
      <input
        type="text"
        class="form-control"
        id="duration"
        placeholder="Enter Duration"
      />
    </div>

    <div class="form-group">
      <label for="max-participants">Max Participants</label>
      <input
        type="number"
        class="form-control"
        id="max-participants"
        placeholder="Enter Max Participants"
      />
    </div>

    <div class="form-group">
      <label for="category"> Category </label>

      <select class="form-control" id="category">
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input
        type="text"
        class="form-control"
        id="location"
        placeholder="Enter Location"
      />
    </div>

    <div class="form-group">
      <button type="submit">
        <mat-icon>add</mat-icon>
        Create
      </button>
    </div>
  </div>
</div>
