<div class="user-account-container">
  <div class="user-details">
    <div class="user-logo">Z</div>
    <h3>Hello, Zaiem</h3>
  </div>

  <form class="user-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Name" />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" />
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input
        type="text"
        id="phoneNumber"
        name="phoneNumber"
        placeholder="Phone Number"
      />
    </div>

    <div class="form-group">
      <button type="submit">Edit Profile</button>
    </div>
  </form>
</div>
