<div class="user-account-container">
  <div class="user-details">
    <div class="user-logo">{{ getLogo() }}</div>
    <h3>Hello, {{ user_details.username }}</h3>
  </div>

  <form class="user-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
        [disabled]="!this.editMode"
        [(ngModel)]="user_details.username"
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        [(ngModel)]="user_details.email"
        [disabled]="!this.editMode"
      />
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input
        type="text"
        id="phoneNumber"
        name="phoneNumber"
        placeholder="Phone Number"
        [disabled]="!this.editMode"
        [(ngModel)]="user_details.phoneNumber"
      />
    </div>

    <div class="form-group">
      <button *ngIf="!editMode" type="button" (click)="onEditMode()">
        Edit Profile
      </button>
      <button *ngIf="editMode" type="submit">Submit</button>
      <button
        *ngIf="editMode"
        type="button"
        class="cancel-button"
        (click)="onCancel(f)"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
