.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
}

.login-container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem 0;

  width: 60vw;
  box-shadow: 0px 0px 20px 0px rgba(110, 224, 110, 0.1);
}

.login-container__form__title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}

.login-container__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 80%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.form-group label {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-primary-color);
}

.form-control {
  width: 100%;
  padding: 1.3rem 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 100vmax;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-primary-color);
  background-color: var(--background-color);
  transition: all 0.3s ease;
}

.login-btn {
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--secondary-color);

  font-family: inherit;
  font-size: 1.6rem;
  color: var(--text-primary-color);
}

.login-btn:hover {
  background-color: var(--accent-color);
}

.login-container__cta {
  padding: 1rem 2rem;
}

.login-container__cta p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-primary-color);
}

.login-container__cta a {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: underline;
}
