<div class="register-container">
  <div class="register-container__form">
    <h1 class="register-container__form__title">Register</h1>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="col">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Enter Username"
            name="username"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            name="email"
            ngModel
            email
            required
          />
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            placeholder="Enter Phone Number"
            name="phoneNumber"
            ngModel
            required
          />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            name="password"
            ngModel
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          />
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            placeholder="Confirm Password"
            name="confirmPassword"
            ngModel
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          />
        </div>

        <button type="submit" class="register-btn" [disabled]="!f.valid">
          Register
        </button>
      </div>
    </form>

    <div class="register-container__cta">
      <p>Already have an account?</p>
      <a routerLink="/login">Login</a>
    </div>
  </div>
</div>
