.explore-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 2rem;
  width: 63vw;
  margin: 2rem 0;
}

.header {
  width: 100%;
  font-size: 2.7rem;
  color: var(--text-primary-color);
}

.categories {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.category {
  transition: all 0.1s ease;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--primary-color);
  opacity: 0.6;
}

.category:hover {
  opacity: 1;
  transform: scale(1.04);
}

.event-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.events-category {
  font-size: 2.4rem;
  color: var(--text-primary-color);
}
