<div class="explore-container">
  <div class="header">
    <h3>Explore the Best Events happening around you!</h3>
  </div>

  <div class="categories">
    <div class="category" *ngFor="let category of categories">
      <span>{{ category }}</span>
    </div>
  </div>

  <div class="event_body">
    <h3 class="events-category">All Events</h3>

    <div class="events">
      <div
        class="event"
        *ngFor="let event of events"
        [routerLink]="'/explore/' + event.id"
      >
        <div class="event-top">
          <div class="event-image">
            <img src="{{ event.image }}" alt="{{ event.name }}" />
          </div>
          <p class="event-category">{{ event.category }}</p>
          <p class="event-date">{{ event.date.start }}</p>
        </div>
        <h3 class="event-name">{{ event.name }}</h3>
      </div>
    </div>
  </div>
</div>
