<div class="dashboard-container">
  <div class="sidebar-container">
    <app-sidebar
      [sidebar_content]="sidebar_content"
      [active_tab]="active_tab.query"
      [user_details]="userDetails"
    ></app-sidebar>
  </div>

  <div class="dashboard-body">
    <div class="dashboard-header">
      <h3>{{ active_tab.name || userDetails.username }}</h3>
    </div>

    <div class="dashboard-content">
      <app-event
        [events]="events"
        *ngIf="active_tab.query === 'events'"
      ></app-event>
      <app-user-account
        *ngIf="active_tab.query === 'account'"
        [user_details]="userDetails"
      ></app-user-account>
      <app-create-event
        *ngIf="active_tab.query === 'create-event'"
      ></app-create-event>

      <app-invites *ngIf="active_tab.query === 'invites'" />
    </div>
  </div>
</div>
