.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.sidebar-container {
  flex: 1;
}

.dashboard-body {
  overflow-y: auto;
  flex: 4;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.dashboard-header h3 {
  font-size: 2.8rem;
  color: var(--text-primary-color);
}
